h1, h2, h3, p, a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hidden {
    display:none;
}
#langauge_bar {
    margin: auto;
    width: 90%;
    text-align: right;
    height: 65px;
    background-color: rgb(1, 1, 121);
}
#langauge_bar #lang_bun{
    display: inline-block;
    color: white;
    font-size: 12pt;
    font-weight: bold;
}
#langauge_bar #lang_s{
    font-size: 12pt;
    display: inline-block;
}

#setup {
    text-align: center;
    margin: auto;
    width: 90%;
    background-color:rgb(45, 176, 194);
    position: relative;
    padding-bottom: 15px;
}
#title_bun {
    margin:auto;
    padding: 20px;
    color: white;
    text-shadow: 3px 3px 8px gray;
}

#citation {
    width: 80%;
    text-align: center;
    margin: auto;
}
#citation #paper {
    text-align: left;
    width: 80%;
    margin: auto;
    font-size: 14px;
    font: bold;
    text-shadow: 2px 2px 6px white;
}
#citation #personal_hp {
    margin-top: 5px;
    margin: auto;
    font-size: 12px;
    width: 75%;
    text-align: center;
}

.subheader {
    margin:auto;
    padding: 18px;
    color: white;
    text-shadow: 2px 2px 4px gray;
    text-align: center;
}

.grid_container2 {
    margin: auto;
    text-align: center;
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    padding: 10px;
}

.grid_container2 .g1 {
    color: white;
}

.grid_container4 {
    margin: auto;
    text-align: center;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    padding: 10px;
    color: white;
}
.grid_container4 .g1 {
    margin: auto;
    text-align: right;
}
.grid_container4 .g2 {
    margin: auto;
    text-align: left;
}
.grid_container4 .g3 {
    margin: auto;
    text-align: right;
}
.grid_container4 .g4 {
    margin: auto;
    text-align: left;
}

.results {
    margin: auto;
    width: 90%;
    display: none;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    color: rgb(151, 42, 9);
}

.button{
    text-align: center;
    margin: auto;
    padding: 1px;
    background-color:rgb(4, 0, 228);
    color: white;
    height: 35px;
    font-size: 14px;
    width: auto;
    padding-left: 5px;
    padding-right: 5px;
    border-style: outset;
    margin-bottom: 10px;
}
.button:hover{
    background-color: rgb(157, 157, 250);
}

.bcon {
    text-align: center;
    margin: auto;
}

#ZtoP_p {
    width: 90%;
    color: white;
    background-color: rgb(91, 211, 121);
    margin: auto;
}

#TtoP {
    width: 90%;
    color: white;
    background-color: rgb(43, 163, 219);
    margin: auto;
}

#XtoP {
    width: 90%;
    color: white;
    background-color: rgb(181, 223, 243);
    margin: auto;
}

.data_q {
    color: white;
}
.answer {
    color: white;
}

#Cohen_table {
    color: white;
    font-size: 16px;
    width: 80%;
    text-align: center;
    margin: auto;
}

#Cohen_table .tblwords {
    text-align: right;
    padding: 10px;
}
#Cohen_table .tblbox {
    text-align: left;
    padding: 10px;
}

.adjustobox {
    width: 60%;
}

.picture:hover {
    opacity: 0.5;
}