#langauge_bar #lang_bun{
    display: block;
    font-weight: bold;
}
#langauge_bar #lang_s{
    font-size: 12pt;
    display: block;
}
.BG1 {
    background-color: #5C7E8F;
    color: white;
}
.BG2 {
    background-color: #A2A2A2;
    color: black;
}
.BG3 {
    background-color: #D4DDE2;
    color: black;
}
.BG4 {
    background-color: #FFFFFF;
    color: black;
}
a:link {
    color: rgb(138, 0, 0);
    font-weight: bold;
}
.border_help {
    border: solid 5px rgba(0, 0, 0, 0.884);
    border-radius: 10px;
    margin:auto;
    margin-top: 15px;
    padding: 10px;
    width: 90%;
}
.stats-cell{
    text-align: left;
    margin-left: 25px;
}
.testContainer{
    margin-top: 10px;
    padding: 5px;
    padding-top: 10px;
    padding-bottom:10px;
}