.hidden {
    display:none;
}
#langauge_bar {
    margin: auto;
    width: 80%;
    text-align: right;
    background-color: rgb(1, 1, 121);
}
#langauge_bar #lang_bun{
    display: inline-block;
    color: white;
    font-size: 12pt;
    font-weight: bold;
}
#langauge_bar #lang_s{
    font-size: 12pt;
    display: inline-block;
}

#setup {
    text-align: center;
    margin: auto;
    width: 80%;
    background-color: aliceblue;
    position: relative;
    margin-bottom: 15px;
}
#title_bun {
    margin:auto;
    padding: 20px;
    color: black;
    text-shadow: 3px 3px 8px gray;
}

#citation {
    background-color: plum;
    width: 80%;
    text-align: center;
    margin: auto;
}
#citation #paper {
    text-align: left;
    width: 80%;
    margin: auto;
    font-size: 14px;
    font: bold;
    text-shadow: 2px 2px 6px white;
}
#citation #personal_hp {
    margin-top: 5px;
    margin: auto;
    font-size: 12px;
    width: 75%;
    text-align: center;
}

.subheader {
    margin:auto;
    padding: 18px;
    color: black;
    text-shadow: 2px 2px 4px gray;
    text-align: center;
}

.grid_container2 {
    margin: auto;
    text-align: center;
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    padding: 10px;
}

.grid_container4 {
    margin: auto;
    text-align: center;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    padding: 10px;
}

.results {
    margin: auto;
    width: 80%;
    display: none;
    font-size: 14px;
    font-weight: bold;
    color: rgb(96, 0, 0);
    text-align: center;
}

.button{
    text-align: center;
    margin: auto;
    padding: 1px;
    background-color:black;
    color: white;
    height: 24px;
    font-size: 14px;
    width: auto;
    border-style: outset;
    margin-bottom: 10px;
}

.bcon {
    text-align: center;
    margin: auto;
}