#Title {
    margin:auto;
    padding: 20px;
    text-align: center;
    color: black;
    text-shadow: 3px 3px 8px gray;
}

#Subtitle {
    margin: auto;
    text-align: center;
}

#small_text{
    font-size: 10px;
    text-align: right;
}


#questions {
    width: 90%;
    border: 3px;
    background-color: aliceblue;
    margin: auto;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    gap: 1rem;
}


#questions #ps {
    grid-column:1;
    margin-top: 20px;
    padding: 5px;
    text-align: right;
}

#questions #ps.question {
    font-size: 14px;
    text-align: right;
}

#questions #as {
    grid-column:2;
    margin-top: 38px;
    padding: 5px;
    text-align: left;
}


#questions #as.answer {
    font-size: 14px;
}

#datasets {
    width: 90%;
    border: 3px;
    background-color: rgb(248, 255, 240);
    margin: auto;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    gap: 1rem;
}

#datasets #data1 {
    grid-column:1;
    margin: auto;
    padding: 5px;
    text-align: center;
}

#datasets #data2 {
    grid-column:2;
    margin: auto;
    padding: 5px;
    text-align: center;
}

#activate {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    text-align: center;
}

#activate #button {
    width: 200px;
    height: 30px;
    font-size: 20px;
    background-color: blue;
    border: 3px;
    border-style: outset;
    color: white;
}

#results {
    margin-top: 10px;
    margin: auto;
    text-align: left;
}